In [7]:
from yahoo_fin import stock_info as si
from datetime import datetime, timedelta

In [69]:
si.tickers_sp500()

['A',
 'AAL',
 'AAP',
 'AAPL',
 'ABBV',
 'ABC',
 'ABMD',
 'ABT',
 'ACN',
 'ADBE',
 'ADI',
 'ADM',
 'ADP',
 'ADSK',
 'AEE',
 'AEP',
 'AES',
 'AFL',
 'AIG',
 'AIZ',
 'AJG',
 'AKAM',
 'ALB',
 'ALGN',
 'ALK',
 'ALL',
 'ALLE',
 'AMAT',
 'AMCR',
 'AMD',
 'AME',
 'AMGN',
 'AMP',
 'AMT',
 'AMZN',
 'ANET',
 'ANSS',
 'AON',
 'AOS',
 'APA',
 'APD',
 'APH',
 'APTV',
 'ARE',
 'ATO',
 'ATVI',
 'AVB',
 'AVGO',
 'AVY',
 'AWK',
 'AXP',
 'AZO',
 'BA',
 'BAC',
 'BALL',
 'BAX',
 'BBWI',
 'BBY',
 'BDX',
 'BEN',
 'BF-B',
 'BIIB',
 'BIO',
 'BK',
 'BKNG',
 'BKR',
 'BLK',
 'BMY',
 'BR',
 'BRK-B',
 'BRO',
 'BSX',
 'BWA',
 'BXP',
 'C',
 'CAG',
 'CAH',
 'CARR',
 'CAT',
 'CB',
 'CBOE',
 'CBRE',
 'CCI',
 'CCL',
 'CDAY',
 'CDNS',
 'CDW',
 'CE',
 'CEG',
 'CF',
 'CFG',
 'CHD',
 'CHRW',
 'CHTR',
 'CI',
 'CINF',
 'CL',
 'CLX',
 'CMA',
 'CMCSA',
 'CME',
 'CMG',
 'CMI',
 'CMS',
 'CNC',
 'CNP',
 'COF',
 'COO',
 'COP',
 'COST',
 'CPB',
 'CPRT',
 'CPT',
 'CRL',
 'CRM',
 'CSCO',
 'CSGP',
 'CSX',
 'CTAS',
 'CTLT',
 'CTRA',
 'CTSH',
 'CTVA',
 'CVS',
 'CVX',
 'CZR',
 'D',
 'DAL',
 'DD',
 'DE',
 'DFS',
 'DG',
 'DGX',
 'DHI',
 'DHR',
 'DIS',
 'DISH',
 'DLR',
 'DLTR',
 'DOV',
 'DOW',
 'DPZ',
 'DRI',
 'DTE',
 'DUK',
 'DVA',
 'DVN',
 'DXC',
 'DXCM',
 'EA',
 'EBAY',
 'ECL',
 'ED',
 'EFX',
 'EIX',
 'EL',
 'ELV',
 'EMN',
 'EMR',
 'ENPH',
 'EOG',
 'EPAM',
 'EQIX',
 'EQR',
 'EQT',
 'ES',
 'ESS',
 'ETN',
 'ETR',
 'ETSY',
 'EVRG',
 'EW',
 'EXC',
 'EXPD',
 'EXPE',
 'EXR',
 'F',
 'FANG',
 'FAST',
 'FBHS',
 'FCX',
 'FDS',
 'FDX',
 'FE',
 'FFIV',
 'FIS',
 'FISV',
 'FITB',
 'FLT',
 'FMC',
 'FOX',
 'FOXA',
 'FRC',
 'FRT',
 'FTNT',
 'FTV',
 'GD',
 'GE',
 'GILD',
 'GIS',
 'GL',
 'GLW',
 'GM',
 'GNRC',
 'GOOG',
 'GOOGL',
 'GPC',
 'GPN',
 'GRMN',
 'GS',
 'GWW',
 'HAL',
 'HAS',
 'HBAN',
 'HCA',
 'HD',
 'HES',
 'HIG',
 'HII',
 'HLT',
 'HOLX',
 'HON',
 'HPE',
 'HPQ',
 'HRL',
 'HSIC',
 'HST',
 'HSY',
 'HUM',
 'HWM',
 'IBM',
 'ICE',
 'IDXX',
 'IEX',
 'IFF',
 'ILMN',
 'INCY',
 'INTC',
 'INTU',
 'INVH',
 'IP',
 'IPG',
 'IQV',
 'IR',
 'IRM',
 'ISRG',
 'IT',
 'ITW',
 'IVZ',
 'J',
 'JBHT',
 'JCI',
 'JKHY',
 'JNJ',
 'JNPR',
 'JPM',
 'K',
 'KDP',
 'KEY',
 'KEYS',
 'KHC',
 'KIM',
 'KLAC',
 'KMB',
 'KMI',
 'KMX',
 'KO',
 'KR',
 'L',
 'LDOS',
 'LEN',
 'LH',
 'LHX',
 'LIN',
 'LKQ',
 'LLY',
 'LMT',
 'LNC',
 'LNT',
 'LOW',
 'LRCX',
 'LUMN',
 'LUV',
 'LVS',
 'LW',
 'LYB',
 'LYV',
 'MA',
 'MAA',
 'MAR',
 'MAS',
 'MCD',
 'MCHP',
 'MCK',
 'MCO',
 'MDLZ',
 'MDT',
 'MET',
 'META',
 'MGM',
 'MHK',
 'MKC',
 'MKTX',
 'MLM',
 'MMC',
 'MMM',
 'MNST',
 'MO',
 'MOH',
 'MOS',
 'MPC',
 'MPWR',
 'MRK',
 'MRNA',
 'MRO',
 'MS',
 'MSCI',
 'MSFT',
 'MSI',
 'MTB',
 'MTCH',
 'MTD',
 'MU',
 'NCLH',
 'NDAQ',
 'NDSN',
 'NEE',
 'NEM',
 'NFLX',
 'NI',
 'NKE',
 'NLOK',
 'NOC',
 'NOW',
 'NRG',
 'NSC',
 'NTAP',
 'NTRS',
 'NUE',
 'NVDA',
 'NVR',
 'NWL',
 'NWS',
 'NWSA',
 'NXPI',
 'O',
 'ODFL',
 'OGN',
 'OKE',
 'OMC',
 'ON',
 'ORCL',
 'ORLY',
 'OTIS',
 'OXY',
 'PARA',
 'PAYC',
 'PAYX',
 'PCAR',
 'PCG',
 'PEAK',
 'PEG',
 'PEP',
 'PFE',
 'PFG',
 'PG',
 'PGR',
 'PH',
 'PHM',
 'PKG',
 'PKI',
 'PLD',
 'PM',
 'PNC',
 'PNR',
 'PNW',
 'POOL',
 'PPG',
 'PPL',
 'PRU',
 'PSA',
 'PSX',
 'PTC',
 'PWR',
 'PXD',
 'PYPL',
 'QCOM',
 'QRVO',
 'RCL',
 'RE',
 'REG',
 'REGN',
 'RF',
 'RHI',
 'RJF',
 'RL',
 'RMD',
 'ROK',
 'ROL',
 'ROP',
 'ROST',
 'RSG',
 'RTX',
 'SBAC',
 'SBNY',
 'SBUX',
 'SCHW',
 'SEDG',
 'SEE',
 'SHW',
 'SIVB',
 'SJM',
 'SLB',
 'SNA',
 'SNPS',
 'SO',
 'SPG',
 'SPGI',
 'SRE',
 'STE',
 'STT',
 'STX',
 'STZ',
 'SWK',
 'SWKS',
 'SYF',
 'SYK',
 'SYY',
 'T',
 'TAP',
 'TDG',
 'TDY',
 'TECH',
 'TEL',
 'TER',
 'TFC',
 'TFX',
 'TGT',
 'TJX',
 'TMO',
 'TMUS',
 'TPR',
 'TRGP',
 'TRMB',
 'TROW',
 'TRV',
 'TSCO',
 'TSLA',
 'TSN',
 'TT',
 'TTWO',
 'TWTR',
 'TXN',
 'TXT',
 'TYL',
 'UAL',
 'UDR',
 'UHS',
 'ULTA',
 'UNH',
 'UNP',
 'UPS',
 'URI',
 'USB',
 'V',
 'VFC',
 'VICI',
 'VLO',
 'VMC',
 'VNO',
 'VRSK',
 'VRSN',
 'VRTX',
 'VTR',
 'VTRS',
 'VZ',
 'WAB',
 'WAT',
 'WBA',
 'WBD',
 'WDC',
 'WEC',
 'WELL',
 'WFC',
 'WHR',
 'WM',
 'WMB',
 'WMT',
 'WRB',
 'WRK',
 'WST',
 'WTW',
 'WY',
 'WYNN',
 'XEL',
 'XOM',
 'XRAY',
 'XYL',
 'YUM',
 'ZBH',
 'ZBRA',
 'ZION',
 'ZTS']

In [35]:
now = datetime.now()
data_points = 30
lag = round(data_points / 5 * 7,0)
print(lag)
display(si.get_data('AAPL','2022-01-01','2022-10-01',index_as_date=False))

42.0

,date,open,high,low,close,adjclose,volume,ticker
0,2022-01-03,177.830002,182.880005,177.710007,182.009995,181.259933,104487900,AAPL
1,2022-01-04,182.630005,182.940002,179.119995,179.699997,178.959457,99310400,AAPL
2,2022-01-05,179.610001,180.169998,174.639999,174.919998,174.199142,94537600,AAPL
3,2022-01-06,172.699997,175.300003,171.639999,172.000000,171.291183,96904000,AAPL
4,2022-01-07,172.889999,174.139999,171.029999,172.169998,171.460495,86709100,AAPL
...,...,...,...,...,...,...,...,...
183,2022-09-26,149.660004,153.770004,149.639999,150.770004,150.770004,93339400,AAPL
184,2022-09-27,152.740005,154.720001,149.949997,151.759995,151.759995,84442700,AAPL
185,2022-09-28,147.639999,150.639999,144.839996,149.839996,149.839996,146691400,AAPL
186,2022-09-29,146.100006,146.720001,140.679993,142.479996,142.479996,128138200,AAPL
187,2022-09-30,141.279999,143.100006,138.000000,138.199997,138.199997,124705400,AAPL

In [22]:
display(si.get_data(None))

TypeError: can only concatenate str (not "NoneType") to str

In [37]:
def get_ticker_data(ticker=None, lag=None):
    if ticker==None:
        return f'No ticker provided to get_ticker_data function'
    else:
        if lag is None:
            df = si.get_data(ticker,index_as_date=False)
        else:
            df = si.get_data(ticker,index_as_date=False).tail(lag)
        return df

In [39]:
display(get_ticker_data('AAPL',30))

,date,open,high,low,close,adjclose,volume,ticker
10520,2022-09-02,159.750000,160.360001,154.970001,155.809998,155.809998,76905200,AAPL
10521,2022-09-06,156.470001,157.089996,153.690002,154.529999,154.529999,73714800,AAPL
10522,2022-09-07,154.820007,156.669998,153.610001,155.960007,155.960007,87449600,AAPL
10523,2022-09-08,154.639999,156.360001,152.679993,154.460007,154.460007,84923800,AAPL
10524,2022-09-09,155.470001,157.820007,154.750000,157.369995,157.369995,68028800,AAPL
10525,2022-09-12,159.589996,164.259995,159.300003,163.429993,163.429993,104956000,AAPL
10526,2022-09-13,159.899994,160.539993,153.369995,153.839996,153.839996,122656600,AAPL
10527,2022-09-14,154.789993,157.100006,153.610001,155.309998,155.309998,87965400,AAPL
10528,2022-09-15,154.649994,155.240005,151.380005,152.369995,152.369995,90481100,AAPL
10529,2022-09-16,151.210007,151.350006,148.369995,150.699997,150.699997,162157000,AAPL
10530,2022-09-19,149.309998,154.559998,149.100006,154.479996,154.479996,81474200,AAPL
10531,2022-09-20,153.399994,158.080002,153.080002,156.899994,156.899994,107689800,AAPL
10532,2022-09-21,157.339996,158.740005,153.600006,153.720001,153.720001,101696800,AAPL
10533,2022-09-22,152.380005,154.470001,150.910004,152.740005,152.740005,86652500,AAPL
10534,2022-09-23,151.190002,151.470001,148.559998,150.429993,150.429993,95939200,AAPL
10535,2022-09-26,149.660004,153.770004,149.639999,150.770004,150.770004,93339400,AAPL
10536,2022-09-27,152.740005,154.720001,149.949997,151.759995,151.759995,84442700,AAPL
10537,2022-09-28,147.639999,150.639999,144.839996,149.839996,149.839996,146691400,AAPL
10538,2022-09-29,146.100006,146.720001,140.679993,142.479996,142.479996,128138200,AAPL
10539,2022-09-30,141.279999,143.100006,138.000000,138.199997,138.199997,124705400,AAPL
10540,2022-10-03,138.210007,143.070007,137.690002,142.449997,142.449997,114311700,AAPL
10541,2022-10-04,145.029999,146.220001,144.259995,146.100006,146.100006,87830100,AAPL
10542,2022-10-05,144.070007,147.380005,143.009995,146.399994,146.399994,79471000,AAPL
10543,2022-10-06,145.809998,147.539993,145.220001,145.429993,145.429993,68402200,AAPL
10544,2022-10-07,142.539993,143.100006,139.449997,140.089996,140.089996,85859100,AAPL
10545,2022-10-10,140.419998,141.889999,138.570007,140.419998,140.419998,74899000,AAPL
10546,2022-10-11,139.899994,141.350006,138.220001,138.979996,138.979996,77033700,AAPL
10547,2022-10-12,139.130005,140.360001,138.160004,138.339996,138.339996,70433700,AAPL
10548,2022-10-13,134.990005,143.589996,134.369995,142.990005,142.990005,113224000,AAPL
10549,2022-10-14,144.309998,144.520004,138.190002,138.380005,138.380005,88512300,AAPL

In [53]:
df1 = get_ticker_data('AAPL',30)

In [67]:
df2 = df1['close'].fillna(method = 'bfill').reset_index().drop(columns='index').T
display(df2)

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
close,155.809998,154.529999,155.960007,154.460007,157.369995,163.429993,153.839996,155.309998,152.369995,150.699997,...,142.449997,146.100006,146.399994,145.429993,140.089996,140.419998,138.979996,138.339996,142.990005,138.380005

In [58]:
df3 = df2.drop(columns='index')
display(df3)

         close
0   155.809998
1   154.529999
2   155.960007
3   154.460007
4   157.369995
5   163.429993
6   153.839996
7   155.309998
8   152.369995
9   150.699997
10  154.479996
11  156.899994
12  153.720001
13  152.740005
14  150.429993
15  150.770004
16  151.759995
17  149.839996
18  142.479996
19  138.199997
20  142.449997
21  146.100006
22  146.399994
23  145.429993
24  140.089996
25  140.419998
26  138.979996
27  138.339996
28  142.990005
29  138.380005